<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2 cursorStyle">
            <div class="card border-primary">
                <div class="card-header"><i class="bi bi-people text-primary me-2"></i>Employees</div>
            </div>
        </div>
        <div class="col-lg-2 cursorStyle">
            <div class="card border-success">
                <div class="card-header"><i class="bi bi-backpack3 text-success me-2"></i>Vacation</div>
            </div>
        </div>
        <div class="col-lg-2 cursorStyle">
            <div class="card border-danger">
                <div class="card-header"><i class="bi bi-stopwatch text-danger me-2"></i>Overtime</div>
            </div>
        </div>
        <div class="col-lg-2 cursorStyle">
            <div class="card border-warning">
                <div class="card-header"><i class="bi bi-hospital text-warning me-2"></i>Doctor</div>
            </div>
        </div>
        <div class="col-lg-2 cursorStyle">
            <div class="card border-info">
                <div class="card-header"><i class="bi bi-x-octagon text-info me-2"></i>Sanctions</div>
            </div>
        </div>
        <div class="col-lg-2 cursorStyle">
            <div class="card border-dark">
                <div class="card-header"><i class="bi bi-slack text-dark me-2"></i>Departments</div>
            </div>
        </div>
    </div>
</div>